html {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Lato, Helvesans, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: white;
    background-color: #263747;
}

.visually-hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.hidden {
    display: none;
}

.widget {
    position: relative;
    width: 695px;
    height: 440px;
    text-shadow: 3px 3px 3px black;
}

.widget img {
    position: absolute;
    z-index: -1;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.date {
    align-self: stretch;
    width: auto;
    margin: 55px 20px;
    padding: 20px 5px;
    text-align: center;
    line-height: 1;
}

.date p {
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.date time {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.info {
    width: auto;
    padding: 5px;
    margin-right: 20px;
    margin-top: 55px;
    line-height: 1.1;
}

.info .degrees {
    margin: 0;
    font-size: 92px;
    font-weight: bold;
}

.info .location {
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 1;
}

.city-wrapper {
    display: flex;
    align-items: center;
}

.city {
    margin: 5px 10px 15px 10px;
    font-size: 32px;
}

.info .wind {
    margin: 5px 40px;
    padding: 5px;
    font-size: 28px;
    font-weight: bold;
}

.wind .strength {
    font-size: 12px;
    font-weight: bold;
}

.city-wrapper .location {
    margin: 5px;
    font-size: 14px;
    line-height: 14px;
    height: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, Helvesans, sans-serif;
    color: #000;
}

.wrapper .search {
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    background-image: url("../img/new-search-icon.png");
    background-color: transparent;
    background-position: center center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    border: 0;
}

.wrapper-forecast {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 695px;
}

.forecast {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.forecast ol {
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
    padding: 0;
    list-style: none;
}

.forecast li {
    display: flex;
    flex-direction: column;
    width: 100px;
    padding: 10px;
    font-size: 14px;
    text-align: center;
}

.forecast span {
    padding: 4px 5px;
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.forecast .weather {
    width: 50px;
    height: 40px;
    margin: auto;
    background: no-repeat center;
}

.forecast .rainy {
    background-image: url("../img/rain.png");
}

.forecast .cloudy {
    background-image: url("../img/cloudy.png");
}

.forecast .sunny {
    background-image: url("../img/sunny.png");
}

.forecast .overcast {
    background-image: url("../img/overcast.png");
}

.forecast .btn {
    width: 15px;
    height: 25px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
}

.forecast .btn:focus,
.forecast .btn:hover {
    opacity: 0.1;
}

.forecast .back {
    margin-left: 10px;
    background: url("../img/back.png") no-repeat center;
}

.forecast .next {
    margin-right: 10px;
    background: url("../img/next.png") no-repeat center;
}

.error {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 400px;
    height: 200px;
    background-color: white;
    border: 5px solid #75b1c7;
    font-size: 22px;
    color: black;
    text-align: center;
}

.error .error-message {
    padding: 30px;
}

